# IBM Quantum credentials
# Get your token at https://quantum.cloud.ibm.com
IBM_QUANTUM_TOKEN=your_token_here
IBM_QUANTUM_INSTANCE=ibm-q/open/main
IBM_QUANTUM_BACKEND=ibm_brisbane
IBM_QUANTUM_REGION=us-east
