# IBM Quantum credentials
# Get your token and instance at https://quantum.cloud.ibm.com
# To find your available backends: run `python -c "from qiskit_ibm_runtime import QiskitRuntimeService; QiskitRuntimeService.save_account(token='YOUR_TOKEN'); [print(b.name) for b in QiskitRuntimeService().backends()]"`
IBM_QUANTUM_TOKEN=your_token_here
IBM_QUANTUM_INSTANCE=your_instance_crn_here
IBM_QUANTUM_BACKEND=your_backend_name_here
IBM_QUANTUM_REGION=us-east
